.navbar{
  width: 100%;
  max-width: 100%;
  min-height: 6vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  transition: all .2s ease;
  top:0;
  left:0;
}

.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  background-color: grey;
}

.navigation{
  width:100%;
  display:flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 15px;
  color: white;
}

.navigation ul{
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navigation a{
  text-decoration: none;
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}
